<fieldset>
  <legend><%=l :auto_watchers_options -%></legend>
  <p><%=l :auto_watchers_enable_watchers_help -%></p>
  <p><label>
    <%=l :auto_watchers_enable_watchers_label -%>
    <%= check_box_tag 'settings[enable_watchers]', @settings['enable_watchers'], @settings['enable_watchers'] == 'on' -%>
  </label></p>
</fieldset>
